<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit employee</title>
</head>
<body>
<h1>Edit Employee</h1>
<p>
    <a href="/list-employee">List Employee</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-employee}" th:object="${employeeForm}" method="post" enctype="multipart/form-data">
    <!--        <input th:type="hide" name="id" th:field="*{id}">-->
    <table>
        <tr>
            <td>Employee name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td><input type="date" th:field="*{birthday}"/></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td><input type="text" th:field="*{gender}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td>Avatar</td>
            <td><img th:src="@{'/i/' + ${employee.avatar}}"></td>
            <td><input type="file" th:field="*{avatar}" multiple></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Update employee"></td>
        </tr>
    </table>
</form>
</body>
</html>